@import url("https://fonts.googleapis.com/css2?family=Pattaya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#f2cc0f, #8cbf3f, #9453A6);
    background-repeat: no-repeat;
}


/* NavBar CSS */

header {
    height: 90px;
    display: grid;
    grid-template-columns: 25% 50% 25%;
    align-items: center;
}

.nav-item {
    font-family: "Pattaya";
    width: 115px;
    text-align: center;
}

.container {
    width: 200px;
}

.logo img {
    align-self: center;
    width: 300px;
    height: 75px;
    padding-left: 40px;
}

li a {
    list-style-type: none;
    display: block;
    padding: 5px 15px;
    text-decoration: none;
    color: #0d0d0d;
}

.nav-link-home {
    background-color: #f2cc0f;
}

.nav-link-about {
    background-color: #8cbf3f;
}

.nav-link-media {
    background-color: #9453a6;
}

.nav-link-faq {
    background-color: #f2cc0f;
}

.nav-link-contantus {
    background-color: #8cbf3f;
}

/* End of NavBar CSS */

.containerGallery {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 8%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 15px;
}

.gallery img {
    border-radius: 20px;
    width: 100%;
}

.video {
    font-size: 1.7rem;
    font-family: 'Pattaya';
    text-align: center;
    margin: auto;
}

.vid {
    border-radius: 20px;
    margin-top: 20px;
}